{{> head}}
{{> navbar}}

<div class="row" style="margin-top:100px; margin-left:15px"> 
    <div class="col-8">
        <h1>imagen demostración</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore harum sit quia vel numquam ducimus maiores accusamus. Quas soluta repudiandae esse quod. Molestiae iure consequuntur necessitatibus. Corporis assumenda dolores modi?</p>
    </div>
    <div class="col-4">
        <img class="img-thumbnail" src="assets/img/node.jpg" alt="demo" width="400px">
    </div>
</div>

{{> footer}}
